html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-PTMono;
  font-size: 16px;
  line-height: 18px;
  color: $brown;
  font-weight: normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg path {
  fill: inherit;
}
