$mobile: 767px;
$tablet: 1023px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$font-roboto: "Roboto Condensed", "Arial", sans-serif; //bold or normal
$font-PTMono: "PT Mono", "Courier New", monospace;
$font-sans-serif: "Arial", sans-serif;
$brown: #666666;
$white: #ffffff;
$white-2: #fafafa;
$black: #000000;
$black-2: #203c42;
$black-3: #1b2d37;
$grey-1: #c4c4c4;
$grey-2: #788891;
$grey-3: #788891;
$grey-4: #fafafa;
$blue: #00b2ff;
$blue-light: #19baff;
$border-footer: 1px solid rgba(98, 105, 98, 0.2);
