@font-face {
  font-family: "PT Mono";
  src: url("../fonts/ptmono.woff2") format("woff2"),
    url("../fonts/ptmono.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
    url("../fonts/roboto.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensed.woff2") format("woff2"),
    url("../fonts/robotocondensed.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("../fonts/robotocondensedbold.woff2") format("woff2"),
    url("../fonts/robotocondensedbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Mono", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  font-display: swap;
}
