.footer {
  color: $grey;
  background: $grey-footer;
  overflow: hidden;

  label {
    box-sizing: border-box;
    display: block;
    width: 100%;
    font-family: "Roboto Condensed", "Arial", sans-serif;
    font-weight: normal;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: $grey;
    margin-bottom: 5px;
    padding: 20px;
    position: relative;
  }

  a,
  p {
    font-family: "PT Mono", "Arial", monospace;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    margin: 0;
  }

  a:hover,
  a:focus {
    color: $blue;
    outline: none;
    transition: 0.2s ease;
  }
}

.footer__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

.footer__section {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 45px 0 57px 21px;
}

.footer__logo {
  padding-top: 20px;
  margin-bottom: 51px;
}

.footer__section_links {
  min-width: 270px;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 130px;
}

.footer__social {
  margin: 0;
  padding: 0;
  margin-top: 52px;
}

.footer__section_nav {
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: auto;
  max-width: 525px;

  a,
  p {
    color: $grey-light;
  }

  label {
    padding-left: 23px;
  }

  ul {
    padding: 0 0 0 20px;
    margin-right: auto;
  }
}

.footer__section_contacts {
  flex-direction: column;

  a,
  p {
    color: $grey-light;
  }
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 20px;
  padding-right: 25px;
}

.footer__section_bottom {
  width: 100%;
  justify-content: space-between;
  padding: 14px 25px 10px 20px;

  @include top-line;

  span {
    font-family: "PT Mono", "Arial", monospace;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $grey;
    opacity: 0.5;
  }
}

.footer__section_bottom-right {
  margin-right: 79px;
}

.footer__section_bottom-middle {
  margin-right: 140px;
}

.footer__section_bottom-left {
  margin-left: auto;
}

@media (max-width: $tablet-width-max) {
  .footer__row {
    flex-wrap: wrap;
  }

  .footer__section {
    margin: 0;
    padding: 5px;
  }

  .footer__section_links {
    width: 100%;
    flex-direction: row;
    align-items: center;

    @include bottom-line;

    padding: 20px 10px 25px 25px;

    p {
      font-size: 13px;
      line-height: 24px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-right: -15px;
      color: $grey-light;
    }
  }

  .footer__logo,
  .footer__social {
    margin: 0;
    padding: 0;
  }

  .footer__section_nav {
    padding-top: 19px;
    padding-bottom: 35px;
    max-width: 40%;

    label {
      margin-bottom: 5px;
    }

    ul {
      margin-top: 0;
    }
  }

  .footer__section_contacts {
    padding-top: 19px;
    padding-right: 11px;
    max-width: 60%;

    label {
      margin-bottom: 5px;
    }
  }

  .footer__contacts-list {
    margin-top: 0;
  }

  .footer__section_bottom {
    padding: 21px 27px;
  }
}

@media (max-width: $mobile-width-max) {
  .footer {
    label {
      box-sizing: border-box;
      margin: 0;
      padding: 28px 5px 5px 5px;
      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 16px;
        height: 1px;
        background: $grey;
        opacity: 0.5;
        right: 7px;
        top: 36px;
        display: block;
      }

      &::after {
        transform: rotate(90deg);
      }
    }

    input:checked ~ label {
      padding-bottom: 25px;

      &::after {
        display: none;
      }
    }

    input ~ ul {
      display: none;
    }

    input[id="nav"]:checked ~ ul {
      display: block;
    }

    input[id="contacts"]:checked ~ .footer__contacts-list {
      display: flex;
    }
  }

  .footer__section {
    padding: 10px;
  }

  .footer__section_links {
    flex-direction: column;
    padding: 46px 25px 55px 25px;

    p {
      margin: 0;
      margin-top: 25px;
    }
  }

  .footer__social {
    margin-right: -15px;
    margin-top: 31px;
  }

  .footer__section_nav {
    min-width: 100%;

    @include bottom-line;

    padding-top: 0;
    padding-bottom: 25px;
  }

  .footer__section_contacts {
    min-width: 100%;
    padding-top: 0;
    padding-bottom: 25px;
  }

  .footer__contacts-list {
    padding: 5px 15px 1px 5px;
    display: none;
  }

  .footer__section_bottom {
    padding: 29px;
    padding-bottom: 4px;
    flex-direction: column;
    align-items: center;

    span {
      margin: 0;
      margin-bottom: 21px;
    }
  }
}
