.social-list {
  display: flex;
  padding: 0;
  margin: 0;

  li {
    width: 27px;
    height: 27px;
    margin-right: 15px;

    svg {
      fill: #cdcdcd;
    }

    &:hover,
    &:focus {
      svg {
        fill: $blue;
        opacity: 0.8;
      }
      outline: none;
      transition: 0.2s ease;
    }
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }
}
