$white: #ffffff;
$black: #000000;
$grey: #1b2b37;
$grey-text: #788891;
$grey-features: #666666;
$grey-light: #8d969b;
$blue: #00b2ff;
$grey-footer: #fafafa;

$mobile-width-max: 767px;
$tablet-width-max: 1023px;
