.advantages {
  padding-top: 112px;
}

.advantages__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__item {
  width: calc(50% - 15px);
  min-height: 300px;
  padding: 39px 41px 42px 41px;
  margin: 0 0 30px 0;
  background: $white;
  border: 1px solid #ebebeb;
  border-left: 3px solid $blue;

  svg {
    fill: $blue;
  }

  &:last-child,
  &:nth-last-child(2) {
    margin-bottom: 0;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }

  &:hover h3 {
    color: $white;
  }

  &:hover svg {
    fill: $white;
  }
}

.advantages h3 {
  margin: 16px 0 15px;
  font-family: $font-roboto;
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  color: $blue;
}

.advantages p {
  line-height: 22px;
  margin: 0;
}

/* Tablet */
@media (max-width: $tablet) {
  .advantages {
    margin-bottom: -8px;
    padding-top: 54px;

    .container {
      padding-right: 23px;
    }
  }

  .advantages h3 {
    margin: 3px 0 8px;
  }

  .advantages__item {
    min-height: 230px;
    padding: 24px 23px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .advantages {
    padding-top: 37px;

    .container {
      padding-right: 16px;
      padding-left: 14px;
    }
  }

  .advantages h3 {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 32px;
  }

  .advantages__item {
    width: 100%;
    min-height: 232px;
    margin: 0 0 20px 0;
    padding-bottom: 23px;

    &:nth-child(2) {
      padding-right: 13px;
    }

    &:nth-last-child(2) {
      margin-bottom: 20px;
    }
  }
}
