.banner {
  position: relative;
  padding: 203px 0 108px 0;
  min-height: 766px;
  overflow: hidden;
}

.banner__container {
  position: relative;
  z-index: 1;
  padding-left: 18px;
}

.banner__content {
  max-width: 715px;
}

.banner__wrapper {
  position: absolute;
  top: -57px;
  left: 805px;
  z-index: -1;
  width: 705px;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 14px;
    z-index: -1;
    width: 611px;
    height: 488px;
    background: url("../img/icon-triangle-banner.svg") left -128px top -164px no-repeat;
  }
}

.banner__title {
  max-width: 683px;
  margin: 0 0 27px 0;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  word-spacing: normal;
  font-family: $font-roboto;
  font-size: 80px;
  line-height: 94px;
  font-weight: bold;
  color: $white;
}

.banner__text {
  position: relative;
  margin: 0 0 45px 96px;
  font-family: $font-PTMono;
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    top: 17px;
    left: -94px;
    display: block;
    width: 66px;
    height: 2px;
    background-color: $white;
  }
}

.banner__scroll {
  @include button-reset;
  position: absolute;
  top: 419px;
  left: -17px;
  opacity: 0.5;
  transform: rotate(-90deg);
  background: none;
  cursor: pointer;
  font-family: $font-PTMono;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: $white;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

/* Tablet */
@media (max-width: $tablet) {
  .banner {
    min-height: 612px;
    padding-top: 116px;
  }

  .banner__content {
    max-width: 410px;
  }

  .banner__content h1 {
    margin-bottom: 29px;
    margin-left: 69px;
    font-size: 60px;
    line-height: 70px;
    white-space: normal;
  }

  .banner__wrapper {
    position: absolute;
    top: -75px;
    left: 510px;

    &::before {
      top: -29px;
      left: -56px;
      width: 480px;
      height: 380px;
      background-size: 600px auto;
      background-position: left -93px top -127px;
    }
  }

  .banner__content p {
    min-width: 356px;
    margin: 0 0 55px 121px;
    font-size: 18px;
    line-height: 156.8%;

    &::before {
      content: "";
      display: block;
      width: 33px;
      top: 15px;
      left: -48px;
    }
  }

  .banner__wrapper img {
    width: 465px;
    height: 340px;
  }

  .banner__scroll {
    display: none;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .banner {
    min-height: 592px;
    padding: 0 0 37px 0;
  }

  .banner__container {
    padding-right: 15px;
  }

  .banner__content {
    margin-right: auto;
    margin-left: auto;
    padding-top: 230px;
  }

  .banner__content h1 span {
    display: block;
  }

  .banner__content h1 {
    margin-left: 0;
    font-size: 40px;
    line-height: 47px;
  }

  .banner__content p {
    min-width: 245px;
    margin-bottom: 42px;
    margin-left: 49px;
    font-size: 16px;
  }

  .banner__wrapper {
    position: absolute;
    top: 37px;
    right: -8px;
    left: auto;
    width: 301px;

    &::before {
      top: -21px;
      left: 141px;
      width: 460px;
      height: 370px;
      background-size: 580px auto;
      background-position: left -93px top -123px;
    }
  }

  .banner__wrapper img {
    width: 301px;
    height: 220px;
  }
}
