.column__social {
  width: 380px;
}

.column__contacts h3,
.column__services h3 {
  font-family: $font-roboto;
  font-size: 15px;
  line-height: 16px;
  font-weight: bold;
  color: $black-3;
  margin: 0 0 25px 0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Tablet */
@media (max-width: $tablet) {
  .column__social {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    margin: 0 -7px 0 -19px;
    padding: 0 15px 21px 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: $border-footer;
  }

  .column__services,
  .column__contacts {
    padding-top: 35px;
  }

  .column__services {
    padding-left: 6px;
  }

  .column__contacts {
    margin-right: 27px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .column__social {
    flex-direction: column;
    padding: 32px 0 51px 0;
  }

  .column__services {
    width: 100%;
    flex: 1 1 100%;
    margin: 0 -15px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 15px;
    border-bottom: $border-footer;
  }

  .column__contacts,
  .column__services {
    position: relative;
    width: 100%;

    h3 {
      font-weight: normal;
    }
  }

  .column__contacts {
    margin: 0 -15px;
    padding-top: 30px;
    padding-left: 10px;

    .footer__btn {
      right: -12px;
    }
  }
}
