.contacts {
  position: relative;
  min-height: 670px;
  padding: 90px 40px;
  background: url("../img/icon-triangle-contacts.svg") left 174px top -60px no-repeat $blue;
}

.contacts__container {
  background: url("../img/paper-airplane-desktop@1x.png") left 118px top 69px no-repeat transparent;
  background-size: 511px 288px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__container {
    background-image: url("../img/paper-airplane-desktop@2x.png");
  }
}

.contacts__wrapper {
  max-width: 570px;
  margin-left: auto;
  margin-right: 121px;
}

.contacts__wrapper form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts h2 {
  font-family: $font-roboto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: $white;
  margin: 0;
}

.contacts p {
  color: $white;
}

.contacts:not(.modal) [type="text"],
.contacts:not(.modal) [type="tel"] {
  width: calc(50% - 15px);
}

.contacts.modal {
  background-image: none;

  .modal__wrapper {
    padding: 0;
  }
}

@media (max-width: 1280px) {
  .contacts__container {
    background-position: left center;
  }

  .contacts__wrapper {
    margin-right: 0;
  }
}

/* Tablet */
@media (max-width: $tablet) {
  .contacts {
    min-height: 662px;
    padding-top: 75px;
    background: $blue;

    h2 {
      font-size: 32px;
    }
  }

  .contacts__container {
    padding-left: 50px;
    background: none;
  }

  .contacts__wrapper {
    max-width: none;
    margin-left: 0;
    margin-right: 40px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .contacts {
    min-height: 640px;
    padding: 33px 0 39px;

    h2 {
      font-size: 27px;
      line-height: 36px;
    }
  }

  .contacts__container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .contacts__wrapper {
    margin-right: 0;

    form {
      flex-direction: column;
    }
  }

  .contacts:not(.modal) [type="text"],
  .contacts:not(.modal) [type="tel"] {
    width: 100%;
  }
}
