.form {
  margin-top: 52px;
}

input,
textarea {
  width: 100%;
  margin-bottom: 40px;
  padding: 14px 16px;
  border: none;
  border-radius: 0;
  background-color: $blue-light;
  color: $white;

  &:hover,
  &:focus {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &::placeholder {
    color: $white;
  }
}

input {
  height: 50px;
}

textarea {
  min-height: 154px;
  resize: none;
}

.form__submit {
  display: flex;
  align-items: center;
}

[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  color: $white;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $white;
}

[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;
  display: none;
  width: 8px;
  height: 5px;
  background: url("../img/icon-vector-down.svg") center no-repeat transparent;
}

[type="checkbox"]:checked + label::after {
  display: block;
}

[type="checkbox"]:focus + label::before {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.25);
}

/* Tablet */
@media (max-width: $tablet) {
  textarea {
    margin-bottom: 48px;
    min-height: 164px;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .form {
    margin-top: 33px;
  }

  input {
    margin-bottom: 33px;
  }

  textarea {
    min-height: 100px;
    margin-bottom: 32px;
  }

  .form__submit {
    flex-direction: column;

    .btn {
      margin-bottom: 30px;
    }
  }
}
