.info {
  padding: 102px 0 94px 0;
}

.info__container {
  min-height: 220px;
  padding-bottom: 15px;
  padding-left: 203px;
  background: url("../img/year-desktop@1x.webp") left -6px top 6px no-repeat transparent;
  background-size: 220px 317px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .info__container {
    background-image: url("../img/year-desktop@2x.webp");
  }
}

.info h2 {
  font-family: $font-roboto;
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  color: $brown;
  margin: 0 0 22px 0;
}

.info p {
  line-height: 22px;
  margin-bottom: 21px;
  text-overflow: ellipsis;
}

.info p + p {
  margin-bottom: 38px;
}

/* Tablet */
@media (max-width: $tablet) {
  .info {
    padding: 61px 0 68px 0;
  }

  .info__container {
    min-height: 363px;
    padding-left: 210px;
    background-size: 247px;
  }

  .info p {
    margin-bottom: 20px;
  }

  .info p + p {
    margin-bottom: 40px;

    &::after {
      content: "..";
      display: inline;
    }
  }

  .info h2 {
    font-size: 32px;
  }

  .info__hidden {
    display: none;
    position: relative;
  }
}

/* Mobile */
@media (max-width: $mobile) {
  .info {
    padding: 38px 0 50px;

    h2 {
      margin-bottom: 0;
      font-size: 26px;
    }

    p {
      margin-bottom: 38px;
    }

    p + p {
      margin-bottom: 28px;
    }
  }

  .info__container {
    background: none;
    padding-left: 15px;
  }
}
