.header .logo img:first-child {
  display: flex;
}

.header .logo img:last-child {
  display: none;
}

/* Mobile */
@media (max-width: $mobile) {
  .header .logo img:first-child {
    display: none;
  }

  .header .logo img:last-child {
    display: block;
  }
}
