.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 25;
  width: 490px;
  min-height: 0;
  transform: translate(-50%, -50%);
  margin-top: -30px;
  padding: 18px 40px 42px;
  background-color: #00b2ff;

  .form {
    margin-top: 20px;
  }

  input,
  textarea {
    margin-bottom: 30px;
  }

  textarea {
    min-height: 104px;
  }

  .form__submit {
    flex-direction: column;

    .btn {
      margin-bottom: 30px;
    }
  }
}

.modal h2 {
  margin-top: 10px;
  font-size: 28px;
  line-height: 140.62%;
}

.modal p {
  margin: 20px 0;
  font-size: 16px;
  line-height: 22px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: url("../img/icon-close.svg") top right no-repeat transparent;
  border: 0;
  cursor: pointer;
  font-size: 0;

  &:hover,
  &:focus {
    border: 1px solid $white;
  }
}

.modal--close {
  display: none;
}
