.social {
  @include list-reset;
  display: flex;
}

.social__icon {
  width: 27px;
  height: 27px;
  background: center no-repeat transparent;
}

.social__item {
  margin-top: 53px;

  & + & {
    margin-left: 16px;
  }
}

.social__facebook {
  background-image: url("../img/icone-facebook.svg");
}

.social__ok {
  background-image: url("../img/icone-ok.svg");
}

.social__vk {
  background-image: url("../img/icone-vk.svg");
}

.social__link {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.5;
  }
}


/* Tablet */
@media (max-width: $tablet) {
  .social {
    margin-right: 14px;
  }

  .social__item {
    margin-top: 0;
  }
}
/* Mobile */
@media (max-width: $mobile) {
  .social {
    margin-right: 0;
  }
}
